# پورتی که اپ روش بالا میاد
PORT=5000

# مسیری که کش بلاب‌ها و منیفست‌ها روش ذخیره می‌شه
DATA_DIR=./data

# آدرس سرویس منبع برای دانلود ایمیج (طبق دستور wget که دادید)
SOURCE_BASE_URL=https://dockerimagesave.akiel.dev/image

# اگر ایمیج مبدا چند-معماری (multi-arch) بود، کدوم پلتفرم انتخاب بشه
DEFAULT_PLATFORM_OS=linux
DEFAULT_PLATFORM_ARCH=amd64